////////////////////////////////////
// Main App Styles /////////////////
///////////////////////////////////
path.domain {
	display: none;
}

.area {
	fill: #A964EF;
}

body > svg {
	position: absolute;
	bottom: 0px;
}

g.tick text {
	fill: #A964EF;
}

.glabel {
	position: absolute;
	bottom: 300px;
	display: block;
	line-height: 15px;
	background-color: #f2f2f2;
	padding: 5px 20px;
	margin-left: 20px;
	font-size: 12px;
	&:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		margin-right: -12px;
		margin-top: -5px;
		left: -12px;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid #f2f2f2;
	}
}
